@tailwind base;
@tailwind components;
@tailwind utilities;

/* Typography */

/* Titles */
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap");

/* Main Text */
@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;500;600&display=swap");

body {
  background-image: url(../assets/shared/desktop/bg-pattern-circle.svg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: bottom;
}
