@tailwind base;
@tailwind components;
@tailwind utilities;

/* Typography */

/* Titles */
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap");

/* Main Text */
@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;500;600&display=swap");

body {
  font-family: "PT Sans", sans-serif;
  background-image: url(../assets/shared/desktop/bg-pattern-circle.svg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: right 50% bottom 15.7%;
}

.bg-pattern-circle {
  background-image: url(../assets/shared/desktop/bg-pattern-circle-dark.svg);
  background-repeat: no-repeat;
  background-size: 50rem;
  background-position: right 41% top -37rem;
}

h1,
h2,
h3,
h4 {
  font-family: "DM Serif Display", serif;
}
