@tailwind base;
@tailwind components;
@tailwind utilities;

/* Typography */

/* Titles */
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap");

/* Main Text */
@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;500;600&display=swap");

body {
  background-color: #edf3f8;
  font-family: "PT Sans", sans-serif;
}

.index-main {
  background-image: url(../assets/shared/desktop/bg-pattern-circle.svg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: right 50% top -15.5%;
}

@media only screen and (min-width: 600px) {
  .index-main {
    background-size: 143%;
    background-position: right 50% top -38%;
  }
}

@media only screen and (min-width: 1024px) {
  .index-main {
    background-size: 130%;
    background-position: right 50% top -29%;
  }
}

.pricing-main {
  background-image: url(../assets/shared/desktop/bg-pattern-circle.svg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: right 130% top -32%;
}

@media only screen and (min-width: 600px) {
  .pricing-main {
    background-size: 65%;
    background-position: left 205% top -33%;
  }
}

@media only screen and (min-width: 1024px) {
  .pricing-main {
    background-size: auto;
    background-position: right -19% top -110%;
  }
}

.about-main {
  background-image: url(../assets/shared/desktop/bg-pattern-circle.svg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: right 130% top -27%;
}

@media only screen and (min-width: 600px) {
  .about-main {
    background-size: 80%;
    background-position: right -239% top -27%;
  }
}

.contact-main {
  background-image: url(../assets/shared/desktop/bg-pattern-circle.svg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: left -24% bottom 154%;
}

@media only screen and (min-width: 600px) {
  .contact-main {
    background-size: 70%;
    background-position: right -135% top -26%;
  }
}

.bg-pattern-circle-hero {
  background-image: url(../assets/shared/desktop/bg-pattern-circle-dark.svg);
  background-repeat: no-repeat;
  background-size: 50rem;
  background-position: right 41% top -35rem;
}

.bg-pattern-circle-company {
  background-image: url(../assets/shared/desktop/bg-pattern-circle-dark.svg);
  background-repeat: no-repeat;
  background-size: 50rem;
  background-position: right 50% top -35.5rem;
}

@media only screen and (min-width: 768px) {
  .bg-pattern-circle-company {
    background-position: right 127% top -32.5rem;
  }
}

@media only screen and (min-width: 768px) {
  .bg-pattern-circle-feature {
    background-image: url(../assets/shared/desktop/bg-pattern-circle-dark.svg);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: right -39% top 24.5rem;
  }
}

.bg-pattern-circle-footer {
  background-image: url(../assets/shared/desktop/bg-pattern-circle-dark.svg);
  background-repeat: no-repeat;
  background-size: 50rem;
  background-position: right 50% top 13.5rem;
}

@media only screen and (min-width: 768px) {
  .bg-pattern-circle-footer {
    background-size: 70%;
    background-position: right -63% top -6.5rem;
  }
}

h1,
h2,
h3,
h4 {
  font-family: "DM Serif Display", serif;
}

p {
  color: #6c8294;
  opacity: 0.7;
}
